redhat_username = "jharmison"
redhat_password = "some super secure password"
registry_admin = {
  username = "james"
  password = "a different super secure password"
  email    = "jharmison@redhat.com"
}
