---
aws_region: us-west-2
cluster_name: disco
cluster_domain: redhat4govaws.io
redhat_username: jharmison
redhat_password: some super secure password
registry_admin:
  username: james
  password: some other super secure password
  email: jharmison@redhat.com

